
{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="card-body rounded-2">

        <h3 style="text-align: center">Calcolo della tenda piega fissa</h3>
        <form method="post" class="form-control-lg row-cols-3"> {% csrf_token %}

            <div class="col-12">
                {{ form.as_div }}
            </div>

            <input type="submit" value="Calcola">
        </form>
    </div>
    <br>
    <div class="card-body rounded-2">
        {{ result }}
    </div>
{% endblock %}





